:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --grey: #2e2f42;
  --roboto: "Roboto", sans-serif;
  --raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--roboto);
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  width: 100%;
}

header {
  width: 100%;
  align-items: center;
  background: var(--white);
}

header a {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  color: var(--iris);
}

header a span {
  color: var(--grey);
}

header nav ul {
  gap: 40px;
  list-style: none;
}

header nav ul li a {
  color: var(--ocean);
}

header nav ul li a:hover {
  text-decoration: none;
  color: var(--slate);
}

address ul {
  list-style: none;
}

address ul li a {
  text-decoration: none;
  color: var(--slate);
}

address ul li a:hover {
  color: var(--ocean);
}

.order-service {
  width: 100%;
  height: 600px;
  background: var(--navyblue);
  align-items: center;
}

.order-service h1 {
  font-family: var(--roboto);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  color: var(--white);
}

.order-service button {
  background: var(--iris);
  color: var(--white);
  cursor: pointer;
  font-family: var(--roboto);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
}

.vision ul {
  gap: 32px;
  list-style: none;
}

.vision ul li {
  background-color: var(--white);
}

.vision ul li h3,
.vision ul li p {
  color: var(--slate);
}

.our-team {
  align-items: center;
  width: 100%;
  background: var(--cloud);
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team ul {
  gap: 32px;
  list-style: none;
}

.our-team ul li {
  align-items: center;
  background: var(--white);
}

.our-portfolio {
  width: 100%;
}

.our-portfolio ul {
  gap: 16px;
  list-style: none;
}

.our-portfolio ul li {
  width: 360px;
  background: var(--white);
  text-align: center;
}

.our-portfolio ul li img {
  width: 100%;
  height: 300px;
}

footer {
  width: 100%;
  height: 312px;
  background: var(--navyblue);
  color: var(--cloud);
}

footer p {
  font-family: var(--roboto);
  font-size: 16px;
}

footer a {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--iris);
}

footer a span {
  color: var(--cloud);
}

button:focus,
button:hover {
  background-color: var(--ocean);
}
